@import '../../common_styles/variables.scss';

.dropdown {
  position: relative;
  outline: none;

  // Софья Кожевникова: значения left и right относительно положения дропдауна на экране следует считать на фронте
  &__menu {
    position: absolute;
    width: 395px;
    background-color: $white;
    border-radius: 2px;
    box-shadow: 12px -12px 24px rgba(35, 111, 153, 0.04);
  }

  &__menu-option {
    padding: 16px 48px 16px 24px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;

    &:hover {
      background-color: $background-pale;
    }

    &--disabled {
      color: $dark-grey;
      cursor: initial;

      &:hover {
        background-color: initial;
      }
    }
  }
}