@import '../../common_styles/variables.scss';

.document {
  display: flex;

  &__icon {
    width: 42px;
    height: 42px;

    &--docx {
      background-image: url('../../images/icons/file-docx.svg');
    }

    &--exc {
      background-image: url('../../images/icons/file-exc.svg');
    }

    &--pdf {
      background-image: url('../../images/icons/file-pdf.svg');
    }

    &--rar {
      background-image: url('../../images/icons/file-rar.svg');
    }

    &--zip {
      background-image: url('../../images/icons/file-zip.svg');
    }
  }

  &__info {
    padding: 0 4px 0 4px;
  }

  &__info-name,
  &__info-data {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      overflow: visible;
    }
  }

  &__info-name {
    font-size: 16px;
    line-height: 24px;
    color: $blue-normal;
  }
}

.subtitle {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: $dark-grey;
}
